h1{
    color: rosybrown;
}
body{
    background-image: url("pug.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
.imagen{
width: 600px;
height: 380px;
padding-right: 150px;
margin-left: 980px;
margin-top: -520px;
}